<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,223}</string>
                <key>spriteSourceSize</key>
                <string>{165,223}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,166}</string>
                <key>textureRect</key>
                <string>{{168,1},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,157}</string>
                <key>spriteSourceSize</key>
                <string>{117,157}</string>
                <key>textureRect</key>
                <string>{{296,1},{117,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,128}</string>
                <key>spriteSourceSize</key>
                <string>{122,128}</string>
                <key>textureRect</key>
                <string>{{296,120},{122,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CardIcon.png</string>
            <key>size</key>
            <string>{454,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6173fcb8a4666a8c35cbde699db2ebc7:384bb10b3fce4ed2226891aaaf038d04:42cb4a062c91877d0d9b9a5efba96272$</string>
            <key>textureFileName</key>
            <string>CardIcon.png</string>
        </dict>
    </dict>
</plist>
