<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{574,642}</string>
                <key>spriteSourceSize</key>
                <string>{576,650}</string>
                <key>textureRect</key>
                <string>{{613,1144},{574,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{803,1139}</string>
                <key>spriteSourceSize</key>
                <string>{809,1141}</string>
                <key>textureRect</key>
                <string>{{806,1},{803,1139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{545,705}</string>
                <key>spriteSourceSize</key>
                <string>{545,717}</string>
                <key>textureRect</key>
                <string>{{1189,1142},{545,705}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{803,1141}</string>
                <key>spriteSourceSize</key>
                <string>{817,1145}</string>
                <key>textureRect</key>
                <string>{{1,1},{803,1141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{610,642}</string>
                <key>spriteSourceSize</key>
                <string>{628,650}</string>
                <key>textureRect</key>
                <string>{{1,1144},{610,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{588,269}</string>
                <key>spriteSourceSize</key>
                <string>{596,273}</string>
                <key>textureRect</key>
                <string>{{1611,1},{588,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{360,278}</string>
                <key>spriteSourceSize</key>
                <string>{370,282}</string>
                <key>textureRect</key>
                <string>{{1611,591},{360,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1890,1848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3c5db0e47c63aa4425b50b68150dd08:751cd49ba9a5c128ddfd13c51d9f589a:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
